Options +Multiviews

RewriteEngine On
RewriteRule catlinite/index.html$ /apache/wigwam/catlinite.html [R=301,L]
RewriteRule catlinite/$ /apache/wigwam/catlinite.html [R=301,L]
RewriteRule coyote/index.html$ /apache/wigwam/coydog.html [R=301,L]
RewriteRule coyote/$ /apache/wigwam/coydog.html [R=301,L]
